In [1]:
import pandas as pd

column_names = ["ID", "color", "M/F",'button']
item_char = pd.DataFrame(columns = column_names)

initial_data=[[0,'blue','M',False],
              [1,'black','M',True],
              [2,'black','M',True],
              [3,'blue','F',False],
              [4,'yellow','F',True]
             ]


row_df=pd.DataFrame(initial_data,columns = column_names)
item_char = pd.concat([row_df, item_char])
item_char=item_char.set_index('ID')
item_char

     color M/F button
ID
0     blue   M  False
1    black   M   True
2    black   M   True
3     blue   F  False
4   yellow   F   True

In [2]:
from sklearn.metrics.pairwise import cosine_similarity 
from sklearn.preprocessing import LabelEncoder

#LabelEncoder

def labelencoder_dataframe(df):
    for col in df.columns:
        if len(set(df[col]))==2:
            lbl = LabelEncoder()
            lbl.fit(list(df[col].values.astype('str')))
            df[col] = lbl.transform(list(df[col].values.astype('str')))
    return df

item_char=labelencoder_dataframe(item_char)

#Get dummies for catigory variables.
item_char_dum=pd.get_dummies(item_char)

similarity_mat=cosine_similarity(item_char_dum)
similarity_mat=pd.DataFrame(similarity_mat,columns=item_char.index)
similarity_mat=similarity_mat.set_index(item_char.index)
similarity_mat

ID         0         1         2         3         4
ID
0   1.000000  0.408248  0.408248  0.707107  0.000000
1   0.408248  1.000000  1.000000  0.000000  0.408248
2   0.408248  1.000000  1.000000  0.000000  0.408248
3   0.707107  0.000000  0.000000  1.000000  0.000000
4   0.000000  0.408248  0.408248  0.000000  1.000000

In [3]:
#simple recommendation model
ID_have=[0,1]

ID_recmd=similarity_mat.loc[ID_have].mean().sort_values(ascending=False).index
ID_recmd=list(ID_recmd)
for id_temp in ID_have:
    ID_recmd.remove(id_temp)

ID_recmd[0]

2

In [4]:
#opencv