In [1]:
from pathlib import Path
import os
import pandas as pd
import numpy as np

from sklearn.metrics.pairwise import cosine_similarity

In [3]:
ft=pd.DataFrame({'color':[1,2,2,1,3],'darkness':[2,3,4,1,1],'flower':[0,0,1,0,1],'gender':[0,0,0,1,1],'shirt-style':[0,1,0,0,1]})
ft

   color  darkness  flower  gender  shirt-style
0      1         2       0       0            0
1      2         3       0       0            1
2      2         4       1       0            0
3      1         1       0       1            0
4      3         1       1       1            1

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.cluster import adjusted_rand_score
from sklearn.decomposition import PCA

import matplotlib.image as mpimg 
import cv2

In [5]:
# Read Images 
img1 = cv2.imread('pic1.png') 
img2 = cv2.imread('pic2.png') 
img3 = cv2.imread('pic3.png') 
img4 = cv2.imread('pic4.png') 
img5 = cv2.imread('pic5.png') 
img1.shape, img2.shape, img3.shape, img4.shape, img5.shape

((196, 111, 3), (196, 157, 3), (215, 143, 3), (215, 178, 3), (177, 118, 3))

In [24]:
#Rescale and flatten the image 
img1r=cv2.resize(img1, (178,215), interpolation = cv2.INTER_AREA).flatten()
img2r=cv2.resize(img2, (178,215), interpolation = cv2.INTER_AREA).flatten()
img3r=cv2.resize(img3, (178,215), interpolation = cv2.INTER_AREA).flatten()
img4r=cv2.resize(img4, (178,215), interpolation = cv2.INTER_AREA).flatten()
img5r=cv2.resize(img5, (178,215), interpolation = cv2.INTER_AREA).flatten()

img1r.shape, img2r.shape, img3r.shape, img4r.shape, img5r.shape

((114810,), (114810,), (114810,), (114810,), (114810,))

In [25]:
img=np.vstack((img1r,img2r,img3r,img4r,img5r))
np.min(img),np.max(img)

(0, 255)

In [26]:
#Standardize 
img = img/255.0
np.min(img),np.max(img)

(0.0, 1.0)

In [29]:
feat_cols = ['pixel'+str(i) for i in range(img.shape[1])]
df = pd.DataFrame(img,columns=feat_cols)
df.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel114800,pixel114801,pixel114802,pixel114803,pixel114804,pixel114805,pixel114806,pixel114807,pixel114808,pixel114809
0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
2,0.968627,0.968627,0.968627,0.968627,0.968627,0.968627,0.968627,0.968627,0.968627,0.968627,...,0.705882,0.701961,0.701961,0.721569,0.694118,0.698039,0.721569,0.603922,0.611765,0.643137
3,0.854902,0.854902,0.854902,0.854902,0.854902,0.854902,0.854902,0.854902,0.854902,0.854902,...,0.854902,0.854902,0.854902,0.854902,0.854902,0.854902,0.854902,0.854902,0.854902,0.854902
4,0.788235,0.788235,0.788235,0.788235,0.788235,0.788235,0.788235,0.788235,0.788235,0.792157,...,0.705882,0.709804,0.709804,0.709804,0.713725,0.713725,0.713725,0.717647,0.717647,0.717647

# PCA Using Feature = 5

In [35]:
pca_shirt = PCA(n_components = 5 )
principalComponents_shirt = pca_shirt.fit_transform(df.iloc[:,:-1])

# Convert principal components to pandas dataframe 
principal_shirt_Df = pd.DataFrame(data = principalComponents_shirt
             , columns = ['PC1', 'PC2','PC3','PC4','PC5'])
principal_shirt_Df.head()

          PC1        PC2        PC3        PC4           PC5
0  -65.568381 -19.868132 -23.566057 -34.985366  3.241550e-13
1  -77.214333 -12.261282  -5.531024  38.553192  3.241550e-13
2  112.815701  -5.950635 -32.595473   7.684492  3.241550e-13
3   -6.000943  70.237830  12.245651  -5.259056  3.241550e-13
4   35.967957 -32.157781  49.446902  -5.993263  3.241550e-13

In [36]:
print('Explained variation per principal component: {}'.format(pca_shirt.explained_variance_ratio_))

Explained variation per principal component: [6.40924098e-01 1.72575422e-01 1.11836393e-01 7.46640877e-02
 1.38467544e-29]

In [49]:
print('The cumulative sum of variance is: {}'.format(np.cumsum(pca_shirt.explained_variance_ratio_)))

The cumulative sum of variance is: [0.6409241  0.81349952 0.92533591 1.         1.        ]

__These T-shirt image could be characterized by the first 3 features, which covers around 90% of variance in PCA__   
__It's quite clear that the last two features are not very important__